<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="applicationContextProvider" class="org.siemac.metamac.core.common.util.ApplicationContextProvider" />

    <!-- Mockito -->
    <import resource="classpath:/spring/statistical-operations-rest-internal/core-mockito.xml" />

    <!-- Rest -->
    <import resource="classpath:/spring/statistical-operations-rest-internal/applicationContext.xml" />

</beans>
